.App {
    /* background-color: #f1fdf3; */
  background: -webkit-linear-gradient(left, #ee9ca7, #ffdde1);
  background: -o-linear-gradient(left, #ee9ca7, #ffdde1);
  background: linear-gradient(to right, #ee9ca7, #ffdde1);
}

.container img {
  margin-top: 190px;
  margin-bottom: 300px;
  width:100%;
  height:auto;
}

h1 {
  text-align: center;
  color: white;
  font-size: 80px;
}
h2 {
  text-align: center;
  color: white;
  font-size: 60px;
}
